"*":
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    fontSize: 13
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "68af9256-f3c9-4f39-ad4f-c01c28729562"
  "spell-check": {}
  welcome:
    showOnStartup: false
