[Desktop Entry]
Version=1.0
Type=Application
Name=firefox private
Comment=lançador do firefox modo janela privada
Exec=firefox --private-window
Icon=firefox-trunk
Path=
Terminal=false
StartupNotify=false
