[Desktop Entry]
Version=1.0
Type=Application
Name=firefox anonimo
Comment=navegar em modo anônimo
Exec=firefox --private-window
Icon=firefox
Path=
Terminal=false
StartupNotify=false
