[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/none/Área de trabalho/temp.odt]
row=0
col=0

[/home/none/Área de trabalho/video youtube escola menezes]
row=1
col=0

[09a2d1f4-e5be-4ce8-bd83-140d42cdb20a]
row=2
col=0

[14e2d286-61f6-46a1-a144-8803f5c3fb88]
row=3
col=0

[Lixeira]
row=4
col=0

[/]
row=5
col=0

[/home/none]
row=6
col=0

