[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/none/Área de trabalho/Apache NetBeans-12.0.desktop]
row=0
col=0

[/home/none/Área de trabalho/PythonNotesForProfessionals.pdf]
row=1
col=0

