[Desktop Entry]
Name=Kdenlive
Name[pt]=Kdenlive
Name[pt_BR]=Kdenlive
GenericName=Video Editor
GenericName[pt]=Editor de Vídeo
GenericName[pt_BR]=Editor de Vídeo
Comment=Nonlinear video editor by KDE
Comment[pt]=Editor de vídeo não-linear do KDE
Comment[pt_BR]=Editor de vídeo não-linear do KDE
Type=Application
Exec=kdenlive %F
Icon=kdenlive
X-DocPath=kdenlive/index.html
Terminal=false
MimeType=application/x-kdenlive;
Categories=Qt;KDE;AudioVideo;AudioVideoEditing;
Keywords=editing;video;audio;mlt;kde;
Keywords[pt]=edição;vídeo;áudio;MLT;kde;
Keywords[pt_BR]=edição;vídeo;áudio;mlt;kde;
X-DBUS-ServiceName=org.kde.kdenlive
X-XFCE-Source=file:///usr/share/applications/org.kde.kdenlive.desktop
