[Desktop Entry]
X-SnapInstanceName=snap-store
Name[pt]=Loja Snap
Name[pt_BR]=Snap Store
Name=Snap Store
Comment[pt]=Adiciona, remove ou atualiza aplicações neste computador
Comment[pt_BR]=Adiciona, remove ou atualiza programas neste computador
Comment=Add, remove or update software on this computer
Icon=/snap/snap-store/467/meta/gui/io.snapcraft.Store.png
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/snap-store_snap-store.desktop /snap/bin/snap-store %U
Terminal=false
Type=Application
Categories=GNOME;GTK;System;PackageManager;
Keywords=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;Snap;
NotShowIn=ubuntu
StartupNotify=true
MimeType=x-scheme-handler/appstream;x-scheme-handler/snap;
X-XFCE-Source=file:///var/lib/snapd/desktop/applications/snap-store_snap-store.desktop
